################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoListService/bin/Debug/netcoreapp2.0
/TodoListService/obj
/TodoListWebApp/bin/Debug/netcoreapp2.0
/TodoListWebApp/obj
/.vs/AzureAd-AzureAdB2C
